@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {
    --color-body: #eaf2f3;
    --color-heading: #eef3db;
    --color-base: rgb(1, 45, 77, 0.8);
    --color-base2: #00223a;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}

/* white theme added */
.white-theme{
    --color-body: #00223a;
    --color-heading: rgb(1, 45, 77,0.8);
    --color-base: rgba(209, 240, 244, 0.8);
    --color-base2: #e5fbfe;
    --color-brand: #457a82cc;
    --color-brand2: #4a666acc;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-shadow: 2px 5px 6px rgba(0, 0, 0, 0.6);
}

/* LOADER */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-base2);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader .spinner {
    width: 100px;
    height: 100px;
    border: 10px solid var(--color-brand);
    border-top: 10px solid var(--color-base);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


body {
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
}

.nav-text{
    color: var(--color-body) !important;
}

.navbar-toggler{
    color: var(--color-body) !important;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-heading);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand2);
}

img {
    width: 100%;
}

.text-brand {
    color: var(--color-brand2);
}

.bg-base {
    background-color: var(--color-base);
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.shadow-effect {
    box-shadow: 11px 13px 26px -9px rgba(0,0,0,0.75);
    -webkit-box-shadow: 11px 13px 26px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 13px 26px -9px rgba(0,0,0,0.75);
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: -6px 6px 0 0 var(--color-brand);
}

.iconbox {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--color-brand);
    color: var(--color-base);
}

.eduexp {
    box-shadow: 6px 3px 13px 1px rgba(0, 0, 0, 0.75) !important;
    -webkit-box-shadow: 6px 3px 13px 1px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 6px 3px 13px 1px rgba(0, 0, 0, 0.75) !important;
}

/* SKILLS */

.progress {
    height: 20px;
    background-color: var(--color-base2);
    border-radius: 10px;
    box-shadow: 6px 3px 13px 1px rgba(0, 0, 0, 0.75) !important;
    -webkit-box-shadow: 6px 3px 13px 1px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 6px 3px 13px 1px rgba(0, 0, 0, 0.75) !important;

}

.progress-bar {
    color: #00223a !important;
}


/* SKILLS */

/* NAVBAR */
.navbar {
    background-color: var(--color-base);
    border-radius: 0 0 20px 0;
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-body); /* added for theme change*/
}

.navbar .nav-link:hover {
    color: var(--color-brand);
}

.navbar .nav-link.active {
    color: var(--color-brand);
}

.shadow{
    box-shadow: 3px 2px 26px 0px rgba(18,18,18,0.75) !important;
    -webkit-box-shadow: 3px 2px 26px 0px rgba(18,18,18,0.75) !important;
    -moz-box-shadow: 3px 2px 26px 0px rgba(18,18,18,0.75) !important;
}

@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidbar-width);
        background: linear-gradient(var(--color-base), var(--color-base)), url(../images/sidebar-img.png); /* added for theme change*/
        background-size: cover;
        background-position: center;
        border-radius: 0 30px 30px 0;
    }
    
    /* data title for profile pic added */
    [data-title]:hover:after {
        opacity: 1;
        transition: all 0.1s ease 0.3s;
        visibility: visible;
    }
    [data-title]:after {
        content: attr(data-title);
        font-style: italic;
        font-weight: bold;
        text-align: center;
        position: absolute;
        /*bottom: -1.6em; */
        bottom: 90%;
        left: 70%;
        padding: 0.5em 1em;
        color: #00223a;
        white-space: wrap; 
        -moz-border-radius: 5px; 
        -webkit-border-radius: 5px;  
        border-radius: 30px;  
        -moz-box-shadow: 0px 0px 4px #222;  
        -webkit-box-shadow: 0px 0px 4px #222;  
        /*  
        background-image: -moz-linear-gradient(top, #f8f8f8, #cccccc);  
        background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f8f8f8),color-stop(1, #cccccc));
        background-image: -webkit-linear-gradient(top, #f8f8f8, #cccccc);  
        background-image: -moz-linear-gradient(top, #f8f8f8, #cccccc);  
        background-image: -ms-linear-gradient(top, #f8f8f8, #cccccc);  
        background-image: -o-linear-gradient(top, #f8f8f8, #cccccc); */
        opacity: 0;
        z-index: 99999;
        visibility: hidden;

        box-shadow: 11px 13px 26px -9px rgba(0,0,0,0.75);
        -webkit-box-shadow: 11px 13px 26px -9px rgba(0,0,0,0.75);
        -moz-box-shadow: 11px 13px 26px -9px rgba(0,0,0,0.75);
        
        backdrop-filter: blur(3px) saturate(180%);
        -webkit-backdrop-filter: blur(3px) saturate(180%);
        background-color: rgba(255, 255, 255, 0.72);
    
    
    }
    [data-title] {
        position: relative;
    }
    
    .navbar-brand img {
        border: 6px solid var(--color-brand);
        padding: 5px;
    }
    
    .navbar-brand img:hover{
        border: 7px dashed var(--color-brand2);
        padding: 5px;
        animation: animate 0.6s infinite linear forwards;
        
    }

    @keyframes animate {
        0% {
            
            border-top-color:var(--color-brand2);
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
        }
        
        25% {
            
            border-top-color: transparent;
            border-right-color: var(--color-brand2);
            border-bottom-color: transparent;
            border-left-color: transparent;
        }

        50% {
            
            border-top-color: transparent;
            border-right-color: var(--color-brand2);
            border-bottom-color: transparent;
            border-left-color: transparent;
        }

        75% {
            
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: var(--color-brand2);
            border-left-color: transparent;
        }

        100% {
            
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: var(--color-brand2);
        }
    }
    
    

    /* CONTENT WRAPPER */
    #content-wrapper {
        padding-left: var(--sidbar-width);
    }

    #home {

        background: url(../images/pic1.png);
        background-position: right center;
        border: none;
        background-repeat: no-repeat;
        background-size: contain;


    }
}


@media (min-width: 425px) {}

#exp {
    background: url(../images/pic2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
}

#edu {
    background: url(../images/pic3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
}

#serve {
    background: url(../images/pic4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
}


#contact {
    background: url(../images/pic5.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;

}

#skillpic {
    background: url(../images/skill1.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
}

#skillpic2 {
    background: url(../images/skill2.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
}

#about{
    border: none;
}

#skills{
    border: none;
}

#work{
    border: none;
}

/* coding added */
#coding{
    border: none;
}

#code {
    background: url(../images/code.png);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-size: contain;
}
/* coding added */

#services{
    border: none;
}

#contact{
    border: none;
}

#home{
    border: none;
}

.bg-warning {
    background-color: var(--color-brand) !important;
    transition: all 0.4s ease;
    transform: 2s;

}

.bg-warning:hover {
    background-color: var(--color-brand2) !important;
    transform: scale(1.1);
}





/* BTN */
.btn {
    padding: 12px 28px;
    font-weight: 700;
}

.btn-brand {
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--color-base);
}

.btn-brand:hover,
.btn-brand:focus {
    background-color: var(--color-brand2);
    color: var(--color-base);
    border-color: var(--color-brand2);
}

.link-custom {
    font-weight: 700;
    position: relative;
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after {
    width: 100%;
}

/* CARD */
.card-custom .card-custom-image {
    overflow: hidden;
}

.card-custom .card-custom-image img {
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
    transform: scale(1.1);
}

/* CONTACT */
#contact .form-control {
    background-color: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-body);
}

#contact .form-control:focus {
    border-color: var(--color-brand);
    box-shadow: none;
}

#contact .form-control::placeholder {
    color: var(--color-body);
}

#contact input.form-control {
    height: 44px;
}

/* SOCIAL ICONS */


.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base);
    border-radius: 100px;
    font-size: 24px;
}

.shadow-nav {
    box-shadow: 9px 1px 27px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 9px 1px 27px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 1px 27px 2px rgba(0, 0, 0, 0.75);
}






/* TYPED.js */
#typed::after {
    content: "|";
    display: inline !important;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}

.typed-cursor {
    display: none;
}

@-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* TYPED.JS ENDS */

/* Scrollbar */
::-webkit-scrollbar {
    width: 5px;


}

::-webkit-scrollbar-track {
    background: var(--color-base);
}

::-webkit-scrollbar-thumb {
    background: var(--color-brand2);
    border-radius: 20px;
}



::-webkit-scrollbar-thumb:hover {
    background: var(--color-brand);
}

::-webkit-scrollbar-button{

    display: none;

}

::-webkit-scrollbar-corner{
    background: var(--color-base);
}

::-webkit-scrollbar-track-piece{
    background: var(--color-base);
}

/* Scrollbar ends */

/* footer */

.new_footer_area {
    background: var(--color-base2); /* changed */
}


.new_footer_top {
    padding: 0px 0px 270px;
    position: relative;
      overflow-x: hidden;
}
.new_footer_area {
    padding-top: 1px;
    padding-bottom: 20px;
}
.new_footer_top {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}
.new_footer_top {
    border-width: 1px;
    margin-top: 20px;
}

.new_footer_top {
    color: #5e2ced;
}
.new_footer_top {
    margin-bottom: 11px;
}
.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #001829;
    font-size: 24px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #00223a;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.new_footer_top .f_social_icon a:hover {
    background: rgb(1, 45, 77);
    border-color: #5e2ced;
  color:white;
}
.new_footer_top .f_social_icon {
    margin-left: 4px;
}
.new_footer_top {
    margin-bottom: 30px;
    color: #263b5e;
}

.new_footer_top {
    color: #6a7695;
}

/* background */
.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("../images/footer_bg.png") no-repeat scroll center 0;
    
    width: 100%;
    height: 266px;
}

/* car */
.new_footer_top .footer_bg .footer_bg_one {
    background: url("../images/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
  background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

/* cycle */
.new_footer_top .footer_bg .footer_bg_two {
    background: url("../images/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
  background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}


